<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <!-- <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    
                </ng-template>

               <ng-template pTemplate="center">
                
              
                <p-calendar [(ngModel)]="rangeDates" placeholder="Desde" [iconDisplay]="'input'"  [showIcon]="true"></p-calendar>
                <span class="m-3" >a</span>
                <p-calendar [(ngModel)]="rangeDates" placeholder="Hasta" [iconDisplay]="'input'" [showIcon]="true"></p-calendar>

               </ng-template >
                <ng-template pTemplate="right">
                    <button pButton pRipple label="Asignar" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>

                    <button pButton pRipple label="Export" icon="pi pi-upload"  class="p-button-secondary" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar> -->

            <p-table
                #dt
                [value]="incomes"
                [columns]="cols"
                responsiveLayout="scroll"
                selectionMode="single"
                [rows]="10"
                [globalFilterFields]="['rncCedulaPasaporte', 'numeroComprobanteFiscal','fechaComprobante']"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} facturas"
                [(selection)]="selectedCompanies"
                [rowHover]="true"
                dataKey="id"
            >
                <ng-template pTemplate="caption">
                    <h5 class="m-3">Facturas de Ingresos.</h5>
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Buscar..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                        <div>
                            <button
                                pButton
                                pRipple
                                label="Crear"
                                icon="pi pi-plus"
                                class="p-button-success mr-2"
                                routerLink="/contasoft/mod/factura"
                            ></button>

                            <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload> -->
                            <button
                                pButton
                                pRipple
                                label="Exportar"
                                icon="pi pi-upload"
                                class="p-button-secondary"
                                (click)="dt.exportCSV()"
                            ></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id" class="text-center">
                            Factura ID <p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="rncCedulaPasaporte" class="text-center">
                            RNC <p-sortIcon field="rncCedulaPasaporte"></p-sortIcon>
                        </th>
                        <th pSortableColumn="numeroComprobanteFiscal" class="text-center">
                            NCF <p-sortIcon field="numeroComprobanteFiscal"></p-sortIcon>
                        </th>
                        <th pSortableColumn="montoFacturado" class="text-center">
                            Monto Total
                            
                        </th>
                        <th pSortableColumn="itbisFacturado" class="text-center">
                            ITBIS
                            
                        </th>
                        <th pSortableColumn="fechaComprobante" class="text-center">
                            Fecha de Factura
                            <p-sortIcon field="fechaComprobante"></p-sortIcon>
                        </th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-income>
                    <tr>
                        <td
                            style="width: 15%; min-width: 10rem"
                            class="text-center"
                        >
                            {{ income.id }}
                        </td>
                        <td
                            style="width: 15%; min-width: 10rem"
                            class="text-center"
                        >
                            {{ income.rncCedulaPasaporte }}
                        </td>
                        <td
                            style="width: 20%; min-width: 10rem"
                            class="text-center"
                        >
                            {{ income.numeroComprobanteFiscal }}
                        </td>
                        <td
                            style="width: 15%; min-width: 10rem"
                            class="text-center"
                        >
                            {{ income.montoFacturado | number }}
                        </td>
                        <td
                            style="width: 15%; min-width: 10rem"
                            class="text-center"
                        >
                         {{income.itbisFacturado}}
                         </td>
                        <td
                            style="width: 15%; min-width: 10rem"
                            class="text-center"
                        >
                            {{ income.fechaComprobante  | date : "dd/MM/yyyy" }}
                        </td>

                        <td style="width: 15%; min-width: 10rem">
                            <div class="flex justify-content-center">
                                <p-button icon="pi pi-pencil" tooltipPosition="bottom" pTooltip="Editar" [rounded]="true" class=" mr-2" (click)="editBill(income)"[text]="true" [raised]="true"></p-button>
                             
                                <p-button icon="pi pi-ban" tooltipPosition="bottom" pTooltip="Anular" [rounded]="true" severity="warning" class=" mr-2" [text]="true" [raised]="true" (click)="voidInvoiceBill(income)"></p-button>
                                <p-button icon="pi pi-trash" tooltipPosition="bottom" pTooltip="Eliminar" [rounded]="true" severity="danger" [text]="true" [raised]="true" (click)="deleteBill(income)"></p-button>

                                
                               
                               
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog
            [(visible)]="incomeDialog"
            [style]="{ width: '550px' }"
            header="Detalle de Factura"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
             
                    <p-tabView styleClass="tabview-custom">
                        <p-tabPanel>
                            <ng-template pTemplate="header">
                                
                                <span>Factura</span>
                            </ng-template>
                            <div class="p-formgrid grid">
                                <div class=" col-12 sm:col-6">
                                    <span>RNC</span>
                                    <input pInputText id="RNC" [(ngModel)]="income.rncCedulaPasaporte" name="RNC" type="text" />
                                </div>
                                <div class=" col-12 sm:col-6">
                                   <span>Tipo de Ingresos</span>
                                  
                                    <p-dropdown [options]="TiposIngresos" optionValue="id" [(ngModel)]="income.tipoIngreso" id="ListTipoBienesyServicios" name="ListTipoBienesyServicios" appendTo="body"  optionLabel="valor" class="w-full" [showClear]="true" placeholder="Selecciona"></p-dropdown>
                                
                                </div>
                                <div class=" col-12 sm:col-6">
                                    <span>NCF</span>
                                    <input pInputText id="NCF" name="NCF" [(ngModel)]="income.numeroComprobanteFiscal" type="text" />
                                </div>
                                <div class=" col-12 sm:col-6">
                                   <span>Fecha de Comprobante</span>
                                   <p-calendar appendTo="body" id="FCF" [(ngModel)]="income.fechaComprobante" name="FCF" ></p-calendar>
                                </div>
                                <div class=" col-12 sm:col-6">
                                    <span>Fecha de Retencion</span>
                                    <p-calendar appendTo="body" id="FCF" [(ngModel)]="income.fechaRetencion" name="FRF" ></p-calendar>
                                 </div>
                                <div class=" col-12 sm:col-6">
                                  
                                   <span>Monto Facturado</span>
                                   <p-inputNumber  [(ngModel)]="income.montoFacturado" id="totalmf" name="totalmf" inputId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2"> </p-inputNumber>
                                </div>
                                <div class=" col-12 sm:col-6">
                                    <span>ITBIS Facturado</span>
                                    <p-inputNumber  [(ngModel)]="income.itbisFacturado" id="ibtisf" name="ibtisf" inputId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2"> </p-inputNumber>
                                </div>
                               
                                
                                
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Header II">
                            <ng-template pTemplate="header">
                                
                                <span>Avanzado 1</span>
                            </ng-template>
                            <div class="p-formgrid grid">
                                <div class=" col-12 sm:col-6">
                                    <span>NCF Modificado</span>
                                    <input pInputText id="rncm" [(ngModel)]="income.numeroComprobanteFiscalModificado" name="rncm" type="text" />
                                </div>
                                <div class=" col-12 sm:col-6">
                                   <span>Retencion Renta por Terceros</span>
                                   <input pInputText id="rncm" [(ngModel)]="income.retencionRentaporTerceros" name="retencionRentaporTerceros" type="text" />
                                </div>
                                <div class=" col-12 sm:col-6">
                                    <span>Impuesto Selectivo al Consumo</span>
                                    <p-inputNumber  [(ngModel)]="income.impuestoSelectivoalConsumo" id="impuestoSelectivoalConsumo" name="impuestoSelectivoalConsumo" inputId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2"> </p-inputNumber>
                                </div>
                                <div class=" col-12 sm:col-6">
                                   <span>Otros Impuestos Tasas</span>
                                   <p-inputNumber  [(ngModel)]="income.otrosImpuestos_Tasas"id="otrosImpuestos_Tasas" name="otrosImpuestos_Tasas" inputId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2"> </p-inputNumber>
                                </div>
                                <div class=" col-12 sm:col-6">
                                    <span> Monto Propina Legal</span>
                                    <p-inputNumber [(ngModel)]="income.montoPropinaLegal" id="montoPropinaLegal" name="montoPropinaLegal" inputId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2"> </p-inputNumber>
                                </div>
                                <div class=" col-12 sm:col-6">
                                    <span>ITBIS por Adelantar</span>
                                    <p-inputNumber  [(ngModel)]="income.itbisPorAdelantar" id="itpa" name="itpa" inputId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2"> </p-inputNumber>
                                </div>
                                <div class=" col-12 sm:col-6">
                                   <span>ITBIS Percivido </span>
                                   <p-inputNumber  [(ngModel)]="income.itbisPercibido" id="itbisPercibido" name="itbisPercibido" inputId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2"> </p-inputNumber>
                                </div>
                                <div class=" col-12 sm:col-6">
                                   <span> ISR Percibido</span>
                                    <input pInputText id="isrPercibido" name="isrPercibido" [(ngModel)]="income.isrPercibido" type="text" />
                                </div>
                               
                                
                                
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Header III">
                            <ng-template pTemplate="header">
                                <span>Avanzado 2</span>
                            </ng-template>
                            <div class="p-formgrid grid">
                                <div class=" col-12 sm:col-6">
                                    <span>Efectivo</span>
                                    <p-inputNumber [(ngModel)]="income.efectivo" id="efectivo" name="efectivo" inputId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2"> </p-inputNumber>
                                </div>
                                <div class=" col-12 sm:col-6">
                                   <span>Cheque Transferencia Deposito</span>
                                   <p-inputNumber [(ngModel)]="income.cheque_Transferencia_Deposito" id="cheque_Transferencia_Deposito" name="cheque_Transferencia_Deposito" inputId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2"> </p-inputNumber>
                                </div>
                                <div class=" col-12 sm:col-6">
                                    <span>Tarjeta Debito Credito</span>
                                    <p-inputNumber [(ngModel)]="income.tarjetaDebito_Credito" id="tarjetaDebito_Credito" name="tarjetaDebito_Credito" inputId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2"> </p-inputNumber>
                                </div>
                                <div class=" col-12 sm:col-6">
                                   <span>Bonos o Certificados Regalo</span>
                                   <p-inputNumber [(ngModel)]="income.bonosOCertificadosRegalo" id="bonosOCertificadosRegalo" name="bonosOCertificadosRegalo" inputId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2"> </p-inputNumber>
                                </div>
                                <div class=" col-12 sm:col-6">
                                    <span> Permuta</span>
                                    <p-inputNumber [(ngModel)]="income.permuta" id="permuta" name="permuta" inputId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2"> </p-inputNumber>
                                </div>
                                <div class=" col-12 sm:col-6">
                                    <span>Otras Formas Ventas</span>
                                    <p-dropdown [options]="formasVentas" optionValue="id" [(ngModel)]="income.otrasFormasVentas" appendTo="body" id="otrasFormasVentas" name="otrasFormasVentas"  optionLabel="valor" class="w-full" [showClear]="true" placeholder="Selecciona"></p-dropdown>
                                 </div>
                               
                                
                                
                            </div>
                        </p-tabPanel>
                    </p-tabView>
             
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Cancel"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Save"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="saveProduct()"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="deleteBillDialog"
            header="Confirm"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span *ngIf="income"
                    >Are you sure you want to delete
                    <b>{{ income.numeroComprobanteFiscal }}</b
                    >?</span
                >
            </div>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    label="No"
                    (click)="deleteBillDialog = false"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    label="Yes"
                    (click)="confirmDelete()"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
        [(visible)]="voidInvoiceBillDialog"
        [style]="{ width: '550px' }"
        header="Anular factura"
        [modal]="true"
        class="p-fluid"
    >
        <ng-template pTemplate="content">
            <div class="p-formgrid grid">
               
                <div class="col-12 ">
                    <label for="status">Tipo de anulacion</label>
                    <p-dropdown
                        [options]="TiposAnulacion"
                        id="anulacion"
                        appendTo="body"
                        [(ngModel)]="voidInvoice.tipo"
                        required
                        autofocus
                        placeholder="Selecciona un tipo."
                        optionValue="id"
                        optionLabel="valor"
                    ></p-dropdown>
                </div>
                
                <div class="col-12 ">
                    <label for="name">Comentario.</label>
                    <textarea
                            rows="5"
                            cols="30"
                            name="NCF"
                            id="NCF"
                            [(ngModel)]="voidInvoice.comment"
                            pInputTextarea
                        ></textarea>
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !voidInvoice.comment"
                        >Name is required.</small
                    >
                </div>
             
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button
                pButton
                pRipple
                label="Cancel"
                icon="pi pi-times"
                class="p-button-text"
                (click)="hideDialog()"
            ></button>
            <button
                pButton
                pRipple
                label="Save"
                icon="pi pi-check"
                class="p-button-text"
                (click)="confirmVoidInvoiceBill()"
            ></button>
        </ng-template>
    </p-dialog>
    </div>
</div>
