<!-- <div class="" style="padding: 0;">
    <h5 style="text-align: center; margin-top: 1em;">Selecciona un plan</h5>
    <div class="p-grid">
      <div class="p-col" *ngFor="let accountType of accountTypes">
        <div class="p-card mb-5" style="padding: 1em; cursor: pointer;" (click)="selectAccountType(accountType.value)">
          <div class="p-field-radiobutton">
            <p-radioButton [value]="accountType.value" [(ngModel)]="selectedAccountType" inputId="accountType{{accountType.value}}"></p-radioButton>
            <label for="accountType{{accountType.value}}">{{accountType.name}}</label>
          </div>
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <label for="accountType{{accountType.value}}" style="margin-left: auto;">{{accountType.savings}}</label>
            <label for="accountType{{accountType.value}}" style="margin-left: 20px;">{{accountType.price}}</label>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
  <div class="" style="padding: 0;">
    <h5 style="text-align: center; margin-top: 1em;">Selecciona un plan</h5>
    <div class="p-grid">
      <div class="p-col" *ngFor="let plan of plans">
        <div class="p-card mb-3" [ngClass]="{'selected-card': SelecctedPlan === plan.id}"  style="padding: 1em; cursor: pointer;" (click)="selectAccountType(plan.id)">
          <div class="p-field-radiobutton">
            <p-radioButton [value]="plan.id" [(ngModel)]="SelecctedPlan" inputId="accountType{{plan.id}}"></p-radioButton>
            <label for="accountType{{plan.id}}" style="margin-left: 10px;">{{plan.name}}</label>
          </div>
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <label for="accountType{{plan.id}}" style="margin-left: auto;">20% </label>
            <label for="accountType{{plan.id}}" style="margin-left: 20px;">{{plan.price}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="grid grid-nogutter justify-content-between">
    <p-button
        label="Back"
        (onClick)="prevPage()"
        icon="pi pi-angle-left"
    ></p-button>
    <p-button
        label="Next"
        (onClick)="nextPage()"
        icon="pi pi-angle-right"
        iconPos="right"
    ></p-button>
</div>
