<p-button
(click)="showDialogChangePasswordconf()"
[link]="true"
icon="pi pi-key"
label="Cambiar contraseña"
></p-button>

<p-dialog
[(visible)]="showChangePasswordconf"
[style]="{ width: '450px' }"
header="Cambiar contraseña"
[maximizable]="true"
[modal]="true"
class="p-fluid"
>
<ng-template pTemplate="content">
    <div class="p-formgrid grid">
        <div class="col-12 sm:col-12">
            <label for="name">Contraseña actual</label>
            <input
                type="text"
                pInputText
                id="accountName"
                
                required
            />
            <!-- <small
                class="ng-dirty ng-invalid"
                *ngIf="submitted && !bank.accountName"
                >Name is required.</small
            > -->
        </div>
        <div class="col-12 sm:col-12">
            <label for="name">Contraseña nueva</label>
            <input
                type="text"
                pInputText
                id="accountName"
                
                required
            />
            <!-- <small
                class="ng-dirty ng-invalid"
                *ngIf="submitted && !bank.accountName"
                >Name is required.</small
            > -->
        </div>
        <div class="col-12 sm:col-12">
            <label for="status">Confirmar contraseña</label>
            <input
                type="text"
                pInputText
                id="accountName"
               
                required
            />
            <!-- <small
                class="ng-dirty ng-invalid"
                *ngIf="submitted && !bank.accountName"
                >Name is required.</small
            > -->
        </div>
       
       
    </div>
</ng-template>

<ng-template pTemplate="footer">
    <button
        pButton
        pRipple
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-text"
        (click)="hideDialog()"
    ></button>
    <button
        pButton
        pRipple
        label="Guardar"
        icon="pi pi-check"
        class="p-button-text"
        (click)="saveProduct()"
    ></button>
</ng-template>
</p-dialog>