
<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <!-- <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    
                </ng-template>

               <ng-template pTemplate="center">
                
              
                <p-calendar [(ngModel)]="rangeDates" placeholder="Desde" [iconDisplay]="'input'"  [showIcon]="true"></p-calendar>
                <span class="m-3" >a</span>
                <p-calendar [(ngModel)]="rangeDates" placeholder="Hasta" [iconDisplay]="'input'" [showIcon]="true"></p-calendar>

               </ng-template >
                <ng-template pTemplate="right">
                    <button pButton pRipple label="Asignar" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>

                    <button pButton pRipple label="Export" icon="pi pi-upload"  class="p-button-secondary" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar> -->

            <p-table
                #dt
                [value]="transactions"
                [columns]="cols"
                responsiveLayout="scroll"
                [rows]="10"
                [globalFilterFields]="['bankNumberOut', 'bankNumberIn','noCheck','transactionDate']"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} transacciones"
                [rowHover]="true"
                dataKey="id"
                exportFilename="{{cuentaSelected}} transacciones {{fechadesde}} - {{fechaHasta}}"
            >
                <ng-template pTemplate="caption">
                    <h5 class="m-3">Lista de transacciones</h5>

                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Buscar..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                        <div>
                            <button
                                pButton
                                pRipple
                                label="Registrar"
                                icon="pi pi-plus"
                                class="p-button-success mr-2"
                                (click)="openNew()"
                            ></button>

                            <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload> -->
                            <button
                                pButton
                                pRipple
                                label="Export"
                                icon="pi pi-upload"
                                class="p-button-secondary"
                                
                                (click)="dt.exportCSV()"
                            ></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="bankNumberIn">
                            Banco Entrada 
                        </th>
                        <th pSortableColumn="bankNumberOut">
                            Banco Salida
                        </th>
                        <th pSortableColumn="noCheck">
                            No. Cheque / Transaccion
                        </th>
                        <th pSortableColumn="concept">
                            Concepto
                        </th>
                        <th pSortableColumn="transactionDate">
                            Fecha
                            <p-sortIcon field="transactionDate"></p-sortIcon>
                        </th>
                        <th pSortableColumn="amount">
                            Crédito
                        </th>
                        <th pSortableColumn="amount">
                            Débito
                        </th>
                        <!-- <th pSortableColumn="accountNumber">Total <p-sortIcon field="accountNumber"></p-sortIcon></th> -->
                        <!-- <th>Acciones</th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-transaction>
                    <tr>
                        <td style="width: 35%; min-width: 10rem">
                            <span class="p-column-title">Nombre</span>
                            {{ transaction.bankNumberIn }}
                        </td>
                        <td style="width: 35%; min-width: 10rem">
                            <span class="p-column-title">accountNumber</span>
                            {{ transaction.bankNumberOut }}
                        </td>
                        <td style="width: 20%; min-width: 10rem">
                            <span class="p-column-title">accountNumber</span>
                            {{ transaction.noCheck }}
                        </td>
                        <td style="width: 20%; min-width: 10rem">
                            <span class="p-column-title">accountNumber</span>
                            {{ transaction.concept }}
                        </td>
                        <td style="width: 20%; min-width: 10rem">
                            <span class="p-column-title">accountNumber</span>
                            {{
                                transaction.transactionDate
                                 | date : "dd / MM / yyyy"
                            }}
                        </td>

                        @if (transaction.tipo ==="debito") {
                        <td style="width: 20%; min-width: 10rem">
                            <span class="p-column-title">accountNumber</span>
                            0.00
                        </td>
                        <td style="width: 20%; min-width: 10rem">
                            <span class="p-column-title">accountNumber</span>
                            {{ transaction.amount | number }}
                        </td>
                        } @else {
                        <td style="width: 20%; min-width: 10rem">
                            <span class="p-column-title">accountNumber</span>
                            {{ transaction.amount | number }}
                        </td>
                        <td style="width: 20%; min-width: 10rem">
                            <span class="p-column-title">accountNumber</span>
                            0.00
                        </td>

                        }
                        <!-- <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">accountNumber</span>
                            {{transaction.total}}
                        </td> -->
                        <!-- <td></td> -->
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog
            [(visible)]="transactionDialog"
            [style]="{ width: '550px' }"
            header="Editar Banco"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <div class="p-formgrid grid">
                    <div class="col-12 sm:col-6">
                        <span>Credito / Debito</span>

                        <p-dropdown
                            [options]="tipo"
                            optionValue="id"
                            [(ngModel)]="transaction.tipo"
                            id="ListTipoBienesyServicios"
                            name="ListTipoBienesyServicios"
                            appendTo="body"
                            optionLabel="valor"
                            class="w-full"
                            [showClear]="true"
                            placeholder="Selecciona"
                        ></p-dropdown>
                    </div>
                    <div class="col-12 sm:col-6">
                        <span>No. Cheque/Transaccion</span>
                        <input
                            pInputText
                            id="NCF"
                            name="NCF"
                            [(ngModel)]="transaction.noCheck"
                            type="text"
                        />
                    </div>

                    <div class="col-12 sm:col-6">
                        <span>Desde</span>
                        <p-dropdown
                            [options]="bancos"
                            id="name"
                            appendTo="body"
                            [(ngModel)]="transaction.bankNumberIn"
                            required
                            autofocus
                            placeholder="Selecciona un banco."
                            optionValue="name"
                            optionLabel="name"
                        ></p-dropdown>
                    </div>
                    <div class="col-12 sm:col-6">
                        <span> Hasta</span>
                        <p-dropdown
                            [options]="bancos"
                            id="name"
                            appendTo="body"
                            [(ngModel)]="transaction.bankNumberOut"
                            required
                            autofocus
                            placeholder="Selecciona un banco."
                            optionValue="name"
                            optionLabel="name"
                        ></p-dropdown>
                    </div>

                    <div class="col-12 sm:col-6">
                        <span>Monto</span>
                        <p-inputNumber
                            [(ngModel)]="transaction.amount"
                            id="totalmf"
                            name="totalmf"
                            inputId="locale-us"
                            mode="decimal"
                            locale="en-US"
                            [minFractionDigits]="2"
                        >
                        </p-inputNumber>
                    </div>
                    <div class="col-12 sm:col-6">
                        <span>Fecha</span>
                        <p-calendar
                            appendTo="body"
                            id="FCF"
                            [(ngModel)]="transaction.transactionDate"
                            name="FCF"
                        ></p-calendar>
                    </div>
                    <div class="col-12">
                        <span>Concepto</span>
                        <textarea
                            rows="5"
                            cols="30"
                            name="NCF"
                            id="NCF"
                            [(ngModel)]="transaction.concept"
                            pInputTextarea
                        ></textarea>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Cancel"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Save"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="saveProduct()"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="deleteTransactionDialog"
            header="Confirm"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span *ngIf="transaction"
                    >Are you sure you want to delete
                    <b>{{ transaction.name }}</b
                    >?</span
                >
            </div>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    label="No"
                    (click)="deleteProductDialog = false"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    label="Yes"
                    (click)="confirmDelete()"
                ></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
