<app-topbar></app-topbar>
<app-config></app-config>

<div class="layout-main-container">
    <div class="layout-main">
        <div class="card w-full h-full">
            <h3>Configuración</h3>

            <div class="grid">
                <div class="col-12 sm:col-6">
                    <p-fieldset legend="Cuenta de usuario">
                        <div style="display: flex; flex-direction: column;">
                                <p-button
                                    (click)="showDialoguserconf()"
                                    [link]="true"
                                    icon="pi pi-user"
                                    label="Mi perfil"
                                ></p-button>
                           
                                <p-button
                                    (click)="showDialogChangePasswordconf()"
                                    [link]="true"
                                    icon="pi pi-key"
                                    label="Cambiar contraseña"
                                ></p-button>
                                <p-button
                                (click)="showDialogAdminUsersconf()"
                                [link]="true"
                                icon="pi pi-users"
                                label="Administrar usuarios"
                            ></p-button>
                           </div>
                    </p-fieldset>
                </div>

                <div class="col-12 md:col-6">
                    <p-fieldset legend="Membresia">
                        <div style="display: flex; flex-direction: column;">
                          <p-button
                                (click)="showDialogPlanconf()"
                                [link]="true"
                                icon="pi pi-star"
                                label="Cambiar mi plan"
                            ></p-button>
                          
                                <p-button
                                (click)="showDialogMenbershipconf()"
                                [link]="true"
                                icon="pi pi-paypal"
                                label="Metodo de pago"
                            ></p-button>
                        </div>  
                    </p-fieldset>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>


<!-- //edir user -->
<p-dialog
[(visible)]="showUserconf"
[style]="{ width: '450px' }"
header="Detalle de mi usuario"
[maximizable]="true"
[modal]="true"
class="p-fluid"
>
<ng-template pTemplate="content">
    <div class="p-formgrid grid">
        <div class="col-12 sm:col-12">
            <label for="name">Usuario</label>
            <input
                type="text"
                pInputText
                id="accountName"
                
                required
            />
            <!-- <small
                class="ng-dirty ng-invalid"
                *ngIf="submitted && !bank.accountName"
                >Name is required.</small
            > -->
        </div>
        <div class="col-12 sm:col-12">
            <label for="name">Nombre completo</label>
            <input
                type="text"
                pInputText
                id="accountName"
                
                required
            />
            <!-- <small
                class="ng-dirty ng-invalid"
                *ngIf="submitted && !bank.accountName"
                >Name is required.</small
            > -->
        </div>
        <div class="col-12 sm:col-12">
            <label for="status">Correo electronico</label>
            <input
                type="text"
                pInputText
                id="accountName"
               
                required
            />
            <!-- <small
                class="ng-dirty ng-invalid"
                *ngIf="submitted && !bank.accountName"
                >Name is required.</small
            > -->
        </div>
       
        <div class="col-12 sm:col-12">
            <label for="name">Telefono</label>
            <input
                type="text"
                pInputText
                id="accountNumber"
               
                required
            />
            <!-- <small
                class="ng-dirty ng-invalid"
                *ngIf="submitted && !bank.accountNumber"
                >Name is required.</small
            > -->
        </div>
        <div class="col-12 sm:col-12">
            <label for="name">Rol</label>
            <input
                type="text"
                pInputText
                id="Rol"
                required
            />
            <!-- <small
                class="ng-dirty ng-invalid"
                *ngIf="submitted && !bank.initialBalance"
                >Name is required.</small
            > -->
        </div>
    </div>
</ng-template>

<ng-template pTemplate="footer">
    <button
        pButton
        pRipple
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-text"
        (click)="hideDialog()"
    ></button>
    <button
        pButton
        pRipple
        label="Guardar"
        icon="pi pi-check"
        class="p-button-text"
        (click)="saveProduct()"
    ></button>
</ng-template>
</p-dialog>

<!-- // change password -->
<p-dialog
[(visible)]="showChangePasswordconf"
[style]="{ width: '450px' }"
header="Cambiar contraseña"
[maximizable]="true"
[modal]="true"
class="p-fluid"
>
<ng-template pTemplate="content">
    <div class="p-formgrid grid">
        <div class="col-12 sm:col-12">
            <label for="name">Contraseña actual</label>
            <input
                type="text"
                pInputText
                id="accountName"
                
                required
            />
            <!-- <small
                class="ng-dirty ng-invalid"
                *ngIf="submitted && !bank.accountName"
                >Name is required.</small
            > -->
        </div>
        <div class="col-12 sm:col-12">
            <label for="name">Contraseña nueva</label>
            <input
                type="text"
                pInputText
                id="accountName"
                
                required
            />
            <!-- <small
                class="ng-dirty ng-invalid"
                *ngIf="submitted && !bank.accountName"
                >Name is required.</small
            > -->
        </div>
        <div class="col-12 sm:col-12">
            <label for="status">Confirmar contraseña</label>
            <input
                type="text"
                pInputText
                id="accountName"
               
                required
            />
            <!-- <small
                class="ng-dirty ng-invalid"
                *ngIf="submitted && !bank.accountName"
                >Name is required.</small
            > -->
        </div>
       
       
    </div>
</ng-template>

<ng-template pTemplate="footer">
    <button
        pButton
        pRipple
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-text"
        (click)="hideDialog()"
    ></button>
    <button
        pButton
        pRipple
        label="Guardar"
        icon="pi pi-check"
        class="p-button-text"
        (click)="saveProduct()"
    ></button>
</ng-template>
</p-dialog>


<!-- // admin users -->

<p-dialog
[(visible)]="showAdminUsersconf"
[style]="{ width: '450px' }"
header="Administrar usuaios"
[maximizable]="true"
[modal]="true"
class="p-fluid"
>
<ng-template pTemplate="content">
    <div class="p-formgrid grid">
        <div class="col-12 sm:col-12">
            <label for="name">Usuario</label>
            <p-dropdown
                            
                            id="accountType"
                            appendTo="body"
                            
                            required
                            autofocus
                            placeholder="Selecciona un usuario."
                            optionValue="id"
                            optionLabel="valor"
                        ></p-dropdown>
            <!-- <small
                class="ng-dirty ng-invalid"
                *ngIf="submitted && !bank.accountName"
                >Name is required.</small
            > -->
        </div>
        <div class="col-12 sm:col-12">
            <label for="name">Roles</label>
            <p-dropdown
                            
                            id="accountType"
                            appendTo="body"
                            
                            required
                            autofocus
                            placeholder="Selecciona un rol."
                            optionValue="id"
                            optionLabel="valor"
                        ></p-dropdown>
            <!-- <small
                class="ng-dirty ng-invalid"
                *ngIf="submitted && !bank.accountName"
                >Name is required.</small
            > -->
        </div>
        <div class="col-12 sm:col-12">
            <p-checkbox label="Esta activo?" name="pizza" value="true" [(ngModel)]="pizza"></p-checkbox>

            <!-- <small
                class="ng-dirty ng-invalid"
                *ngIf="submitted && !bank.accountName"
                >Name is required.</small
            > -->
        </div>
       
       
    </div>
</ng-template>

<ng-template pTemplate="footer">
    <button
        pButton
        pRipple
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-text"
        (click)="hideDialog()"
    ></button>
    <button
        pButton
        pRipple
        label="Guardar"
        icon="pi pi-check"
        class="p-button-text"
        (click)="saveProduct()"
    ></button>
</ng-template>
</p-dialog>



