<app-topbar></app-topbar>
<app-config></app-config>

<div class="layout-main-container">
    <div class="layout-main">
        <div class="card w-full h-full">
            <h3>Configuración</h3>

            <div class="grid">
                <div class="col-12 md:col-6">
                    <p-fieldset legend="Cuenta de usuario">
                        <div style="display: flex; flex-direction: column;">
                                
                            
                                <app-user></app-user>
                                <app-changepassword></app-changepassword>
                               
                                <app-adminuser></app-adminuser>
                               <app-user-roles></app-user-roles>
                               <app-user-company></app-user-company>
                           </div>
                    </p-fieldset>
                </div>

                <div class="col-12 md:col-6">
                    <p-fieldset legend="Membresia">
                        <div style="display: flex; flex-direction: column;">
                          <p-button
                                (click)="showDialogPlanconf()"
                                [link]="true"
                                icon="pi pi-star"
                                label="Cambiar mi plan"
                            ></p-button>
                          
                                <p-button
                                (click)="showDialogMenbershipconf()"
                                [link]="true"
                                icon="pi pi-paypal"
                                label="Metodo de pago"
                            ></p-button>
                        </div>  
                    </p-fieldset>
                </div>
                <div class="col-12 md:col-6">
                    <p-fieldset legend="Empresas">
                        <div style="display: flex; flex-direction: column;">
                          <p-button
                                (click)="showDialogPlanconf()"
                                [link]="true"
                                icon="pi pi-folder"
                                label="Lista archivadas"
                            ></p-button>
                          
                                <p-button
                                (click)="showDialogMenbershipconf()"
                                [link]="true"
                                icon="pi pi-times-circle"
                                label="Lista eliminadas"
                            ></p-button>
                        </div>  
                    </p-fieldset>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>



<!-- // change password -->



<!-- // admin users -->





