<div class="card">
    <div class="grid">
        <div class="col-12 md:col-9">
            <div class="card">
                <div class="flex justify-content-between">
                    <div>
                        <p-image
                            [src]="imageUrl"
                            alt="Image"
                            width="100"
                        ></p-image>
                    </div>
                    <h3>Factura de Crédito Fiscal</h3>
                </div>

                <div class="grid">
                    <div class="col-12 sm:col-7">
                        <div>
                            <h2>{{ company.name }}</h2>
                        </div>
                        <div style="display: flex; flex-direction: column">
                            <div style="display: flex">
                                <label
                                    style="
                                        margin-right: 10px;
                                        font-weight: bold;
                                    "
                                    >RNC:
                                </label>
                                <label for=""> {{ company.rnc }}</label>
                            </div>
                            <div style="display: flex">
                                <label
                                    style="
                                        margin-right: 10px;
                                        font-weight: bold;
                                    "
                                    >Sucursal:
                                </label>
                                <label for="">La mejor</label>
                            </div>
                            <div style="display: flex">
                                <label
                                    style="
                                        margin-right: 10px;
                                        font-weight: bold;
                                    "
                                    >Direccion:
                                </label>
                                <label for=""> {{ company.address }}</label>
                            </div>
                            <div style="display: flex">
                                <label
                                    style="
                                        margin-right: 10px;
                                        font-weight: bold;
                                    "
                                    >Telefono:
                                </label>
                                <label for="">{{ company.telefono }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 sm:col-5">
                        <div style="display: flex; flex-direction: column">
                            <div
                                style="
                                    display: flex;
                                    justify-content: space-between;
                                    margin-bottom: 10px;
                                "
                            >
                                <label
                                    style="
                                        margin-left: 0;
                                        font-weight: bold;
                                        font-size: 14px;
                                    "
                                    >No.:</label
                                >
                                <input
                                    id="numero"
                                    [(ngModel)]="Income.invoiceNumber"
                                    pInputText
                                    type="text"
                                    class="p-inputtext-sm w-auto"
                                />
                            </div>
                            <div
                                style="
                                    display: flex;
                                    justify-content: space-between;
                                    margin-bottom: 10px;
                                "
                            >
                                <label
                                    style="
                                        margin-left: 0;
                                        font-weight: bold;
                                        font-size: 14px;
                                    "
                                    >NCF:</label
                                >
                                <input
                                id="ncf"
                                [(ngModel)]="Income.ncf"
                                    pInputText
                                    type="text"
                                    class="p-inputtext-sm w-auto"
                                />
                            </div>
                            <div
                                style="
                                    display: flex;
                                    justify-content: space-between;
                                "
                            >
                                <label
                                    style="
                                        margin-right: 0;
                                        font-weight: bold;
                                        font-size: 14px;
                                    "
                                    >Fecha:</label
                                >
                                <p-calendar class="p-inputtext-sm"></p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
                <p-divider></p-divider>

                <div class="">
                    <div class="grid">
                        <div class="col-12 sm:col-6">
                            <h4>Factura para:</h4>
                            <span class="p-fluid">
                                <p-autoComplete></p-autoComplete>
                            </span>
                        </div>
                        <div class="col-12 sm:col-5">
                            <div style="display: flex; flex-direction: column">
                                <div
                                    style="
                                        display: flex;
                                        justify-content: space-between;
                                        margin-bottom: 10px;
                                    "
                                >
                                    <label
                                        style="
                                            margin-left: 0;
                                            font-weight: bold;
                                            font-size: 14px;
                                        "
                                        >Entidad:</label
                                    >
                                    <input
                                        id="entidad"
                                        [(ngModel)]="Income.empresa"
                                        pInputText
                                        type="text"
                                        class="p-inputtext-sm w-auto"
                                    />
                                </div>
                                <div
                                    style="
                                        display: flex;
                                        justify-content: space-between;
                                        margin-bottom: 10px;
                                    "
                                >
                                    <label
                                        style="
                                            margin-left: 0;
                                            font-weight: bold;
                                            font-size: 14px;
                                        "
                                        >RNC:</label
                                    >
                                    <input
                                        id="rnc"
                                       [(ngModel)]="Income.rnc"
                                        pInputText
                                        type="text"
                                        class="p-inputtext-sm w-auto"
                                    />
                                </div>
                                <div
                                    style="
                                        display: flex;
                                        justify-content: space-between;
                                    "
                                >
                                    <label
                                        style="
                                            margin-right: 0;
                                            font-weight: bold;
                                            font-size: 14px;
                                        "
                                        >Dirección:</label
                                    >
                                    <input
                                    id="address"
                                        pInputText
                                        [(ngModel)]="Income.direccion"
                                        type="text"
                                        class="p-inputtext-sm w-auto"
                                    />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <p-divider></p-divider>
                <div class="">
                    <div class="grid">
                        <div class="col-12">
                            <div class="flex justify-content-between mb-3">
                                <h4>Elementos de la factura</h4>
                                <p-button
                                    (onClick)="agregar()"
                                    icon="pi pi-plus"
                                    label=""
                                ></p-button>
                            </div>

                            <p-table
                                [value]="Income.products"
                                dataKey="id"
                                editMode="row"
                                [tableStyle]="{ 'min-width': '50rem' }"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th >Producto</th>
                                        <th >Cantidad</th>
                                        <th >Precio</th>
                                        <th >Total</th>
                                        <th class="text-center" >Acciones</th>
                                    </tr>
                                </ng-template>
                                <ng-template
                                    pTemplate="body"
                                    let-product
                                    let-editing="editing"
                                    let-ri="rowIndex"
                                >
                                    <tr [pEditableRow]="product">
                                        <td >
                                            <p-cellEditor>
                                                <ng-template pTemplate="input">
                                                    <input
                                                    
                                                        pInputText
                                                        type="text"
                                                        [(ngModel)]="
                                                            product.name
                                                        "
                                                    />
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{ product.name }}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                        <td >
                                            <p-cellEditor>
                                                <ng-template pTemplate="input">
                                                    <p-inputNumber (onInput)="getTotal(product)" [(ngModel)]="product.amount" id="amount" name="amount" inputId="locale-us" mode="decimal" inputId="withoutgrouping" [useGrouping]="false" locale="en-US"> </p-inputNumber>

                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{ product.amount }}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                        <td >
                                            <p-cellEditor>
                                                <ng-template pTemplate="input">
                                                    <p-inputNumber (onInput)="getTotal(product)"  [(ngModel)]="product.price" id="price" name="price" inputId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2"> </p-inputNumber>

                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{ product.price  |number  }}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                       
                                        <td >
                                            <p-cellEditor>
                                                <ng-template pTemplate="input">
                                                  
                                                    <p-inputNumber  [(ngModel)]="product.total" id="total" name="total" inputId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2"> </p-inputNumber>

                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{ product.total |number }}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                        <td class="text-center">
                                            <div
                                                class="flex align-items-center justify-content-center gap-2"
                                            >
                                                <button
                                                    *ngIf="!editing"
                                                    pButton
                                                    pRipple
                                                    type="button"
                                                    pInitEditableRow
                                                    icon="pi pi-pencil"
                                                    (click)="
                                                        onRowEditInit(product)
                                                    "
                                                    class="p-button-rounded p-button-text"
                                                ></button>
                                                <button
                                                    *ngIf="!editing"
                                                    pButton
                                                    pRipple
                                                    type="button"
                                                    pInitEditableRow
                                                    icon="pi pi-times"
                                                    (click)="
                                                        onRowdelete(product.id)
                                                    "
                                                    class="p-button-rounded p-button-text p-button-danger"
                                                ></button>

                                                <button
                                                    *ngIf="editing"
                                                    pButton
                                                    pRipple
                                                    type="button"
                                                    pSaveEditableRow
                                                    icon="pi pi-check"
                                                    (click)="
                                                        onRowEditSave(product)
                                                    "
                                                    class="p-button-rounded p-button-text p-button-success mr-2"
                                                ></button>
                                                <button
                                                    *ngIf="editing"
                                                    pButton
                                                    pRipple
                                                    type="button"
                                                    pCancelEditableRow
                                                    icon="pi pi-times"
                                                    (click)="
                                                        onRowEditCancel(
                                                            product,
                                                            ri
                                                        )
                                                    "
                                                    class="p-button-rounded p-button-text p-button-danger"
                                                ></button>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                        <div class="col-12 sm:col-6"></div>
                    </div>
                </div>
                <p-divider></p-divider>

                <div class="grid">
                    <div class="col-12 sm:col-6"></div>

                    <div class="col-12 sm:col-6">
                        <div style="display: flex; flex-direction: column ; align-items: center;" >
                            <div style="display: flex">
                                <label
                                    style="
                                        margin-right: 10px;
                                        margin-bottom: 10px;
                                        font-weight: bold;
                                    "
                                    >Sub-total:
                                </label>
                                <label for="">{{Income.subtotal |number  }}</label>
                            </div>
                            <div style="display: flex">
                                <label
                                    style="
                                        margin-right: 10px;
                                        margin-bottom: 10px;
                                        font-weight: bold;
                                    "
                                    >ITBIS:
                                </label>
                                <label for="">{{Income.itbis |number  }}</label>
                            </div>

                            <div style="display: flex">
                                <label
                                    style="
                                        margin-right: 10px;
                                        margin-bottom: 10px;
                                        font-weight: bold;
                                    "
                                    >Total:
                                </label>
                                <label for="">{{Income.total |number  }}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <p-divider></p-divider>
                <div style="display: flex; flex-direction: column">
                    <div
                        style="display: flex; justify-content: space-between"
                        class="p-fluid"
                    >
                        <label
                            style="
                                margin-right: 10px;
                                font-weight: bold;
                                font-size: 16px;
                            "
                            >Nota:</label
                        >
                        <textarea rows="2" [(ngModel)]="Income.nota" cols="30" pInputTextarea></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-3">
            <div class="card">
                <div class="p-fluid">
                    <div class="p-fluid mb-3">
                        <p-button
                            label="Vista previa"
                            icon="pi pi-eye"
                            [text]="true"
                            [raised]="true"
                        ></p-button>
                    </div> 
                    <p-button
                        label="Guardar"
                        icon="pi pi-save"
                        (onClick)="save()"
                        [text]="true"
                        [raised]="true"
                    ></p-button>
                </div>
              
                <!-- <div class="p-fluid mb-3">
                    <p-button
                        label="Enviar por correo"
                        icon="pi pi-send"
                        [text]="true"
                        [raised]="true"
                    ></p-button>
                </div>
                <div class="p-fluid mb-3">
                    <p-button
                        label="Vista previa"
                        icon="pi pi-eye"
                        [text]="true"
                        [raised]="true"
                    ></p-button>
                </div> -->
                <!-- <div class="p-fluid">
                    <p-button
                        label="Descargar"
                        icon="pi pi-download"
                        (onClick)="exportPdf()"
                        [text]="true"
                        [raised]="true"
                    ></p-button>
                </div> -->
                <p-divider></p-divider>
                <!-- <span>Tipo de Ingresos</span>
                                  
                <p-dropdown [options]="TiposIngresos" optionValue="id"  id="ListTipoBienesyServicios" name="ListTipoBienesyServicios" appendTo="body"  optionLabel="valor" class="w-full" [showClear]="true" placeholder="Selecciona"></p-dropdown>
                 -->
                <!-- <span>Forma de Pago</span>
                <p-dropdown [options]="payType" optionValue="id"  appendTo="body" id="fp" name="fp"  optionLabel="valor" class="w-full" [showClear]="true" placeholder="Selecciona"></p-dropdown> -->
            </div>
        </div>
    </div>
</div>


