<div
    class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
    <p-toast></p-toast>

    <div class="flex flex-column align-items-center justify-content-center">
        <div
            style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    var(--primary-color) 10%,
                    rgba(33, 150, 243, 0) 30%
                );
            "
        >
            <div
                class="w-full surface-card py-8 px-5 sm:px-8"
                style="border-radius: 53px"
            >
                <div
                    class="text-left mb-5"
                    style="
                        height: 100%;
                        margin: 0;
                        display: flex;
                        justify-content: start;
                        align-items: start;
                    "
                >
                    <img
                        src="assets/logo.png"
                        alt="Image"
                        height="50"
                        class="mr-2"
                    />
                    <span class="text-5xl">Contasoft</span>
                </div>
                <p-steps [model]="items"  [readonly]="false" [activeIndex]="activeIndex" (activeIndexChange)="onActiveIndexChange($event)"></p-steps>

                <div class="mt-5">
                    <router-outlet></router-outlet>

                </div>
               
            </div>
        </div>
    </div>
</div>
