<div
    class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
    <p-toast></p-toast>

    <div class="flex flex-column align-items-center justify-content-center">
        <div
            style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    var(--primary-color) 10%,
                    rgba(33, 150, 243, 0) 30%
                );
            "
        >
            <div
                class="w-full surface-card py-8 px-5 sm:px-8"
                style="border-radius: 53px"
            >
                <div
                    class="text-center mb-5"
                    style="
                        height: 100%;
                        margin: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    "
                >
                    <img
                        src="assets/logo.png"
                        alt="Image"
                        height="50"
                        class="mr-2"
                    />
                    <span class="text-5xl">Contasoft</span>
                </div>

                <div>
                    <label for="username" class="block font-small mb-2"
                        >Usuario
                    </label>
                    <input
                        id="username"
                        [(ngModel)]="user.username"
                        type="text"
                        placeholder="Correo electrónico"
                        pInputText
                        class="w-full md:w-30rem mb-3"
                        style="padding: 1rem"
                    />

                    <label for="fullName" class="block font-small mb-2"
                        >Nombre completo
                    </label>
                    <input
                        id="fullName"
                        [(ngModel)]="user.fullName"
                        type="text"
                        placeholder="Correo electrónico"
                        pInputText
                        class="w-full md:w-30rem mb-3"
                        style="padding: 1rem"
                    />
                    <label for="cellphone" class="block font-small mb-2"
                    >Telefono
                </label>
                <input
                    id="cellphone"
                    [(ngModel)]="user.cellphone"
                    type="text"
                    placeholder="Telefono"
                    pInputText
                    class="w-full md:w-30rem mb-3"
                    style="padding: 1rem"
                />

                    <label for="email" class="block font-small mb-2"
                        >Correo electronico
                    </label>
                    <input
                        id="email"
                        [(ngModel)]="user.email"
                        type="text"
                        placeholder="Correo electrónico"
                        pInputText
                        class="w-full md:w-30rem mb-3"
                        style="padding: 1rem"
                    />

                    <label for="password" class="block font-small mb-2"
                        >Contraseña</label
                    >
                    <p-password
                        id="password"
                        [(ngModel)]="user.password"
                        [toggleMask]="true"
                        placeholder="Contraseña"
                        promptLabel="Digita una contraseña"
                        weakLabel="Muy simple"
                        mediumLabel="Un poco mas compleja"
                        strongLabel="contraseña compleja"
                        styleClass="mb-3 w-full"
                        inputStyleClass="w-full p-3 md:w-30rem"
                    >
                        <ng-template pTemplate="header">
                            <h6>Estado</h6>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <p-divider></p-divider>
                            <p class="mt-2">Sugerencia</p>
                            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                <li>Al menos una miniscula</li>
                                <li>Al menos una mayuscula</li>
                                <li>Al menos un numero</li>
                                <li>Minimo 8 caracteres</li>
                            </ul>
                        </ng-template></p-password
                    >

                   
                    <button
                        pButton
                        pRipple
                        [loading]="loading"
                        label="Registrar"
                        class="w-full p-3 text-xl"
                        (click)="registrar()"
                    ></button>
                </div>
            </div>
        </div>
    </div>
</div>
